@import '../../assets/variables';


.chat-main__message-text{
    text-align: left;
    width: 40%;
    font:$font-regular;
    color:$text-black;
    background-color: $text-bgcolor;
    border-radius: 50px;
    padding: 10px;
}


.chat-main__reply-text{

    margin-left: auto;
    text-align: right;
    width: 40%;
    font:$font-regular;
    color: white;;
    background-color: $text-bgcolor-blue;
    border-radius: 50px;
    padding: 10px;
    
}
