<div class="chat-main-item">
  
  <div class="chat-main__block{{#if current}} chat-main__block--current{{/if}}">

 
      <div class="chat-main__message-text">{{ message }}</div>
      <div class="chat-main__reply-text">{{ reply }}</div>
    
    </div>

 
  </div>


