@import '../../assets/variables';

.chat-main{

&__message-text{
    text-align: left;
    width: 40%;
    font:$font-regular;
    color:$black-PRIMARY;
    background-color: $light-cream-PRIMARY;
    border-radius: 50px;
    padding: 10px;
    }
&__reply-text{
    margin-left: auto;
    text-align: right;
    width: 40%;
    font:$font-regular;
    color: $white;
    background-color: $light-blue-PRIMARY;
    border-radius: 50px;
    padding: 10px; 
    }
}