@import '../../assets/variables';

.input {
    height: 26px;
  
    &__element {
      width: 120px;
      border: none;
      padding: 0;
      box-sizing: border-box;
      outline: none;
      font: $font-regular;

      &--align-right {
        text-align: right;
      }
    }
  }
  .no-bottom-line{
    input::-webkit-input-placeholder {
      text-align: right;
    }
    
    input:-moz-placeholder {
      text-align: right;
    }
    
    input::-moz-placeholder {
      text-align: right;
    }
    
    input:-ms-input-placeholder {
      text-align: right;
    }
  }
  
  