{{#> ContainerCentered }}

  <form class="password-page">
    
    <header>
      {{> PageTitle title="password" }}
    </header>

    <main class="password-page__content">
      {{> ProfileField title="Старый пароль" name="oldPassword" placeholder="••••••••••••" type="password" }}
      <div class="password-page__linebreak"></div>
      {{> ProfileField title="Новый пароль" name="newPassword" placeholder="••••••••••••" type="password" }}
      <div class="password-page__linebreak"></div>
      {{> ProfileField title="Повторите пароль" name="newPassword" placeholder="••••••••••••" type="password" }}
    </main>

    <footer class="password-page__buttons">
      {{> Button text="Сохранить" page="main" className="small" }}
    </footer>

  </form>

{{/ ContainerCentered }}