{{#> ContainerCentered }}

  <form class="password-page">

      {{> PageTitle title="password" }}

    <div class="password-page__content">
      {{> ProfileField title="Старый пароль" placeholder="••••••••••••" type="password" }}
      <div class="password-page__linebreak"></div>
      {{> ProfileField title="Новый пароль" placeholder="••••••••••••" type="password" }}
      <div class="password-page__linebreak"></div>
      {{> ProfileField title="Повторите пароль" placeholder="••••••••••••" type="password" }}
    </div>

    <div class="password-page__buttons">
      {{> Button text="Сохранить" page="login" className="small" }}
    </div>

  </form>

{{/ ContainerCentered }}