<div class="profile-field{{#if text}} {{ text }}{{/if}}">

<div class="profile-field__input">{{title}}</div>
{{> Input className="no-bottom-line" type=type title=title name=name value=value placeholder=placeholder  }}

</div>
