@import '../../assets/variables';

.profile-field {
  display: flex;
  justify-content: space-between;


  &__title {
    font: $font-small;
    color: $text-light-color;
  }

  &__element {
    border-bottom: 1px solid $link-color;
  }

  &__element:hover {
    outline: none;
  }
}
