@import '../../assets/variables';

.chat-header-container{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    position: relative;
}

.linebreak-header{
    width: 100%;
    border: 1px solid $divider-line-color;
    position: absolute;
    transform: translateY(2800%) ;
}

