{{#> ContainerCentered }}

  <header class="header">
      {{> PageTitle title="Список Страниц:" }}
  </header>
    
  <main class="main-page">
    <div class="login-page__buttons">
      {{> Button text="Чаты" page="chat" }}
      {{> Button text="ошибка404" page="error404" }}
      {{> Button text="ошибка500" page="error500" }}
      {{> Button text="Логин" page="login" }}
      {{> Button text="Пароль" page="password" }}
      {{> Button text="Профиль" page="profile" }}
      {{> Button text="Регистрация" page="registration" }}
    </main>
  </main>

{{/ ContainerCentered }}
