{{#> ContainerCentered }}

  <form class="profile-page">

      {{#each (chat-page-list)}}

       {{#if current}}
          <div class="profile-header">
       {{> PageTitle title="Profile" }}
             <div class="profile-header__name">{{ name }}</div>
             <img class="profile-header__avatar" src={{ avatar }}><img>
          </div>
        {{/if}}
        
      {{/each}}

    <div class="profile-page__content">

      {{> ProfileField title="Почта" text="standart" placeholder="pochta@yandex.ru" }}
      {{> Linebreak }}

      {{> ProfileField title="Логин" text="standart" placeholder="ivanivanov" }}
      {{> Linebreak }}

      {{> ProfileField title="Имя" text="standart" placeholder="Иван" }}
      {{> Linebreak }}

      {{> ProfileField title="Фамилия" text="standart" placeholder="Иванов" }}
      {{> Linebreak }}
      
      {{> ProfileField title="Имя в чате" text="standart" placeholder="Иван" }}
      {{> Linebreak }}

      {{> ProfileField title="телефон" text="standart" placeholder="+7 (909) 967 30 30" }}
    </div>

    <div class="profile-page__buttons">
      {{> Button text="Изменить данные" page="registration" className="small" }}
      {{> Button text="Изменить пароль?" page="password" className="small" }}
      {{> Button text="Выйти?" page="login" className="small" red ="red" }}
    </div>

  </form>

{{/ ContainerCentered }}