<div class="chat-page-container">

  <div class="chat-page-container__left">

    <button class="chat-page-profile">Профиль <i class="fa-solid fa-chevron-right"></i></button>

    <form action="#" class="search"> 
        <input type="text" class="search__input" placeholder="Поиск">
          <button class="search__button">
              <i class="fa-solid fa-magnifying-glass"></i>
          </button>
          {{> Button text="К профилю" className="grey-no-border" page="profile" }}
    </form>

    {{#> ChatList }}

      {{#each (chat-page-list)}}
        {{> ChatItem }}
        <div class="linebreak"></div>
      {{/each}}

      {{> Link page="LoginPage" text="Назад к логину"}}

    {{/ ChatList }}

  </div>
  
  <div class="chat-page-container__right">
    
    {{#> ChatHeaderContainer }}
    
    {{#each (chat-page-list)}}

        {{#if current}}
          {{> ChatHeader }}
        {{/if}}

    {{/each}}

        {{#each (chat-page-list)}}
    
        {{#if current}}
        <button class="dots-button">
          <i class="fa-solid fa-ellipsis-vertical fa-xl"></i>
        </button>
        
        {{/if}}  

    {{/each}}
       
    {{/ ChatHeaderContainer }}


       {{#> ChatMainList }}
    
    {{#each (chat-page-list)}}

        {{#if current}}
          {{> ChatMainItem }}
        {{/if}}

    {{/each}}

       
    {{/ ChatMainList }}


  
<div class="chat-page-container__bottom">

    <div class="linebreak"></div>

  <div class="bottom">
        <button class="clip">
            <i class="fa-solid fa-paperclip fa-2xl" style="color: #0033ff;"></i>
        </button>
        
        <form class="search-bottom">
           
        <input type="text" class="search-bottom__input" placeholder="Введите сообщение">

            <button class="search-bottom__button" >
              <i class="fa-solid fa-angles-right fa-xl" style="color: #0033ff;"></i>
            </button>
            
        </form> 

  </div>
    
    
    </div>
    
  </div>




